<h2 id="title">Ember CLI Inject Fingerprinting</h2>

<img
  src="/assets/tomster-under-construction.png"
  alt="Tomster"
  class="tomster"
  id="tomster-reference"
>

<img
  src={{fingerprinted-path (concat "/assets/tomster-under-construction" ".png")}}
  alt="Tomster concat"
  class="tomster"
  id="tomster-helper"
>

{{computed-path
  path="/assets/tomster-under-construction"
  class="tomster"
  id="tomster-computed"
  alt="Tomster computed"
}}

{{outlet}}
